<div class="container-fluid pt-3">
  <h1 class="text-center home-title">Angular<b>Training</b></h1>
  <hr>
  <div class="row">
    <div class="col-6">
      <img src="assets/images/Angular_full_color_logo.png" alt="angular Icon" class="w-50">
    </div>
    <div class="col-6 align-self-center">
      <h2>Angular</h2>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
      eirmod tempor
      <br>
      invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
      <br>
      et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
      dolor
      <br>
      sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
      <br>
      erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
      <br>
      sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="col-6 align-self-center">
      <h2>Spring Boot</h2>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
      eirmod tempor
      <br>
      invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
      <br>
      et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
      dolor
      <br>
      sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
      <br>
      erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
      <br>
      sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="col-6">
      <img src="assets/images/spring-boot-logo.png" alt="spring boot Icon">
    </div>
  </div>
</div>
