<div class="container-fluid">
  <h1 class="h1 pb-1">BMI Calculator</h1>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="row p-1 col-5">
      <div class="col-12">
        <div class="form-group">
          <input id="height"
                 type="number"
                 formControlName="height"
                 class="form-control form-control-lg">
          <label for="height">Height (in cm)</label>
        </div>
      </div>
      <validation-errors [control]="form.controls['height']" [errorKeys]="errorKeys"></validation-errors>

      <div class="col-12 pt-3">
        <div class="form-group">
          <input id="weight"
                 type="number"
                 formControlName="weight"
                 class="form-control form-control-lg">
          <label for="weight">Weight (in kg)</label>
        </div>
      </div>
      <validation-errors [control]="form.controls['weight']" [errorKeys]="errorKeys"></validation-errors>

      <div class="pt-3">
        <button class="btn btn-primary"
                type="submit">Calculate
        </button>
      </div>

    </div>
  </form>
</div>
<ng-container *ngIf="prentFlag">
  <app-parent [bmiModel]="bmiModel"></app-parent>
</ng-container>
