.form-control.ng-invalid.ng-touched {
  border-color: #a51728;
}

.ng-invalid.ng-touched[type="radio"] ~ .custom-control-label {
  color: #a51728;

  &:before {
    border-color: #a51728;
  }
}

.invalid-feedback {
  display: block;
}
