<div id="instructions">
  <video id="my_video_1" class="embed-responsive embed-responsive-4by3" controls preload="none"
         data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'>
    <source src="https://vjs.zencdn.net/v/oceans.mp4" type='video/mp4' />
    <source src="https://vjs.zencdn.net/v/oceans.webm" type='video/webm' />
  </video>
  <div class="container-fluid">
    <button (click)="playPause()" class="btn btn-dark">Play/Pause</button>
    <button (click)="restart();" class="btn btn-outline-dark">Restart</button>
    <button (click)="skip(-10)" class="btn btn-outline-dark">Rewind</button>
    <button (click)="skip(10)" class="btn btn-outline-dark">Fastforward</button>
  </div>
</div>
