<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <h1>Video Player</h1>
      <div class="embed-responsive embed-responsive-4by3">
        <video id="my_video_1" class="embed-responsive-item" controls preload="none"
               data-setup='{ "aspectRatio": "500:267", "playbackRates": [1, 1.5, 2] }'>
          <source src="https://vjs.zencdn.net/v/oceans.mp4" type="video/mp4">
          <source src="https://vjs.zencdn.net/v/oceans.webm" type="video/webm">
        </video>
      </div>
    </div>
    <div class="row col-md-4 d-flex align-items-end">
      <div class="btn-group w-100">
        <button class="btn btn-dark w-100" (click)="playPause()">Play/Pause</button>
        <button class="btn btn-dark w-100" (click)="restart()">Restart</button>
        <button class="btn btn-dark w-100" (click)="skip(-10)">Rewind</button>
        <button class="btn btn-dark w-100" (click)="skip(10)">Fastforward</button>
      </div>
    </div>
  </div>
</div>
