<nav class="navbar navbar-expand-lg navbar-light">
  <a routerLink="ui/home" class="navbar-brand">Angular<b>Training</b></a>
  <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
    <div class="navbar-nav">
      <a routerLink="ui/" class="nav-item nav-link">Home</a>
      <div class="nav-item dropdown">
        <a href="#" data-toggle="dropdown" class="nav-item nav-link dropdown-toggle">Reactive Form</a>
        <div class="dropdown-menu">
          <a routerLink="ui/login" class="nav-item nav-link">Login</a>
          <a routerLink="ui/registration" class="nav-item nav-link">Registration</a>
        </div>
      </div>
      <a routerLink="ui/stepper" class="nav-item nav-link">Stepper</a>
      <a routerLink="ui/video" class="nav-item nav-link">Video</a>
      <div class="nav-item dropdown">
        <a href="#" data-toggle="dropdown" class="nav-item nav-link dropdown-toggle">Directive</a>
        <div class="dropdown-menu">
          <a routerLink="ui/ngif-ngfor" class="nav-item nav-link">NgIf-NgFor</a>
        </div>
      </div>
      <a routerLink="ui/input" class="nav-item nav-link">Parent-Child</a>
      <a routerLink="ui/todo" class="nav-item nav-link">Todo-App</a>
    </div>
    <div class="navbar-nav ml-auto action-buttons">
      <div class="nav-item dropdown">
        <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle mr-4">Login</a>
        <div class="dropdown-menu action-form">
          <form [formGroup]="loginForm" (submit)="submitLogin()">
            <p class="hint-text text-black">Login to your account</p>
            <input class="form-control"
                   formControlName="loginUsername"
                   type="text"
                   id="loginUsername">
            <label class="text-black" for="loginUsername">Username</label>
            <validation-errors [control]="loginForm.controls['loginUsername']"
                               [errorKeys]="errorKeys">
            </validation-errors>
            <input class="form-control"
                   formControlName="loginPassword"
                   type="password"
                   id="loginPassword">
            <label class="text-black" for="loginPassword">Password</label>
            <validation-errors [control]="loginForm.controls['loginPassword']"
                               [errorKeys]="errorKeys">
            </validation-errors>
            <input type="submit" class="btn btn-primary btn-block" value="Login">
            <div class="text-center mt-2">
              <a href="#">Forgot Your password?</a>
            </div>
          </form>
        </div>
      </div>
      <div class="nav-item dropdown">
        <a href="#" data-toggle="dropdown" class="btn btn-primary dropdown-toggle sign-up-btn">Sign up</a>
        <div class="dropdown-menu action-form">
          <form [formGroup]="registrationForm" (ngSubmit)="submitRegistration()">
            <p class="hint-text text-black">Fill in this form to create your account!</p>
            <input id="registrationUsername"
                   class="form-control"
                   formControlName="registrationUsername"
                   type="text">
            <label class="text-black" for="registrationUsername">Username</label>
            <validation-errors [control]="registrationForm.controls['registrationUsername']"
                               [errorKeys]="errorKeys"></validation-errors>
            <input id="email"
                   class="form-control"
                   formControlName="email"
                   type="email">
            <label class="text-black" for="email">E-Mail</label>
            <validation-errors [control]="registrationForm.controls['email']"
                               [errorKeys]="errorKeys"></validation-errors>
            <input id="registrationPassword"
                   class="form-control"
                   formControlName="registrationPassword"
                   type="password">
            <label class="text-black" for="registrationPassword">Password</label>
            <validation-errors [control]="registrationForm.controls['registrationPassword']"
                               [errorKeys]="errorKeys"></validation-errors>
            <input id="repeatpassword"
                   class="form-control"
                   formControlName="repeatpassword"
                   type="password">
            <label class="text-black" for="repeatpassword">Repeat Password</label>
            <validation-errors [control]="registrationForm.controls['repeatpassword']"
                               [errorKeys]="errorKeys">
            </validation-errors>
            <input type="submit" class="btn btn-primary btn-block" value="Registration">
          </form>
        </div>
      </div>
    </div>
  </div>
</nav>
