<div class="page">
  <nav class="page_menu page_custom-settings menu">
    <ul class="menu_list r-list">
      <li class="menu_group"><a href="#Home" class="menu_link r-link text-underlined">Home</a></li>
      <li class="menu_group"><a href="#ReactivForm" class="menu_link r-link text-underlined">Reactive Forms</a></li>
      <li class="menu_group"><a href="#InputOutput" class="menu_link r-link text-underlined">Input Output</a></li>
      <li class="menu_group"><a href="#Stepper" class="menu_link r-link text-underlined">Stepper</a></li>
    </ul>
  </nav>
</div>

