<div class="page">
  <nav class="page_menu page_custom-settings menu">
    <ul class="menu_list r-list">
      <li class="menu_group"><a routerLink="ui/" class="menu_link r-link text-underlined">Home</a></li>
      <li class="menu_group"><a routerLink="ui/login" class="menu_link r-link text-underlined">Reactive Forms</a></li>
      <li class="menu_group"><a routerLink="ui/input" class="menu_link r-link text-underlined">Input Output</a></li>
      <li class="menu_group"><a routerLink="ui/stepper" class="menu_link r-link text-underlined">Stepper</a></li>
      <li class="menu_group"><a routerLink="ui/video" class="menu_link r-link text-underlined">Video</a></li>
    </ul>
  </nav>
</div>

