@import '~bootstrap/scss/bootstrap';
@import "~bootstrap/dist/css/bootstrap.css";
@import "assets/styles/validation";

body {
  background-color: rgba(0, 1, 14, 0.84);
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

hr {
  color: white;
}

h1 {
  color: #4Ea5d9;
}

h2 {
  color: #a7baf8;
}

p {
  color: white;;
}

span {
  color: white;
}

label {
  color: white;
}
